<div>
  <div id="product" class="bg-white mt-12">
    <section class="my-8">
      <div class="container mx-auto px-6"><h2
        class="text-gray-700 text-5xl font-medium text-center py-6">
        Our Product</h2>
        <div class="grid gap-x-6 gap-y-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-6 py-12">
          <div class="w-full max-w-md mx-auto rounded-md shadow-md overflow-hidden">
            <app-bantal></app-bantal>
            <div class="px-5 py-3"><h3
              class="text-gray-700 uppercase text-2xl font-mono">
              Buckwheat hull Pillow</h3>
              <p class="text-gray-500 mt-2"> The buckwheat hull pillow has a variety of products
                suitable of all ages, from infants to the elderly. </p></div>
          </div>
          <div class="w-full max-w-md mx-auto rounded-md shadow-md overflow-hidden">
            <app-bed-sheet></app-bed-sheet>
            <div class="px-5 py-3"><h3
              class="text-gray-700 uppercase text-2xl font-mono">
              Patchwork Bed Sheet</h3>
              <p class="text-gray-500 mt-2"> Patchwork sheets are a product of the new
                generation, available in many sizes, neat and beautiful, easy to organize and clean. </p></div>
          </div>
          <div class="w-full max-w-md mx-auto rounded-md shadow-md overflow-hidden">
            <img src="assets/carseat/Img1.jpg" loading="lazy" alt="Image for Car Seat Cover"
                 width="640" height="481"
                 class="flex items-end justify-end h-56 w-full bg-contain bg-center bg-no-repeat">
            <div class="px-5 py-3"><h3
              class="text-gray-700 uppercase text-2xl font-mono">
              Patchwork Car Seat Covers</h3>
              <p class="text-gray-500 mt-2"> The new generation patchwork also has other
                products: car cushions, sofa cushions, and floor cushions. </p></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
