<div>
  <div class="bg-gradient-to-r from-indigo-900 to-green-900 min-h-screen overflow-auto">
    <section class="text-gray-700">
      <div class="container flex flex-col items-center px-5 mx-auto md:flex-row pb-16 md:pb-0">
        <div
          class="w-full md:flex-grow flex flex-col items-start sm:min-h-full py-16 sm:py-8 text-left space-y-5 md:space-y-16">
          <h1 class="mt-24 text-white text-3xl lg:text-6xl font-bold z-10">
            Your Most trusted, <br>home and living store in<span class="text-blue-400">Kluang, Johor .</span>
          </h1>
          <h2 class="text-gray-300 text-base lg:text-xl z-10"> We sell patchwork product such as
            <br>
            <strong>Car Seat Covers, Comforter, Carpet, Bed sheets.</strong>
            <br> We also sell <span>
              <strong>Buckwheat Hull Pillow</strong>
              that Suitable for all ages.<br>
            </span>
          </h2>
          <div class="flex flex-col justify-center mx-auto lg:flex-row -z-10">
            <div rel="noreferrer"
                 class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-1 sm:gap-5 uppercase">
              <a href="https://shopee.com.my/panglai_ent" target="_blank" rel="noreferrer">
                <div
                  class="group flex items-center bg-white bg-opacity-70 shadow-xl gap-4 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-gray-900 hover:text-white hover:bg-opacity-100 transition">
                  <img alt="Proceed to Shoppe to purchase" width="96" height="96"
                       src="https://img.icons8.com/doodle/96/000000/shopee.png" class="w-9">
                  <div>
                    <span>Shopee</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                  </div>
                </div>
              </a>
              <a href="https://www.lazada.com.my/shop/pang-lai-enterprise/" target="_blank" rel="noreferrer">
                <div
                  class="w-full group flex items-center bg-white bg-opacity-70 shadow-xl gap-4 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-gray-900 hover:text-white hover:bg-opacity-100 transition">
                  <img alt="Proceed to Lazada to purchase" width="100" height="100"
                       src="https://img.icons8.com/plasticine/100/000000/lazada.png" class="w-9">
                  <div><span>Lazada</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                  </div>
                </div>
              </a>
              <a href="https://goo.gl/maps/UMjdHXcBnJRNS4oAA" target="_blank" rel="noreferrer">
                <div
                  class="group flex items-center bg-white bg-opacity-70 shadow-xl gap-4 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5 cursor-pointer hover:bg-gray-900 hover:text-white hover:bg-opacity-100 transition">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                  </svg>
                  <div><span>Physical Store</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                  </div>
                </div>
              </a></div>
          </div>
        </div>
        <div class="w-full lg:max-w-lg">
          <img alt="hero"
               src="/assets/img.png" width="450" height="338"
               class="object-cover object-center rounded-lg mx-auto">
        </div>
      </div>
      <div class="hidden sm:flex opacity-50 z-0">
        <div class="shadow-2xl w-96 h-96 rounded-full -mt-72 -mr-40"></div>
        <div class="shadow-2xl w-96 h-96 rounded-full -mt-96"></div>
        <div class="shadow-xl w-80 h-80 rounded-full -ml-12 -mt-96"></div>
      </div>
    </section>
  </div>
  <app-why-us></app-why-us>
  <app-product-listing></app-product-listing>
  <app-contact></app-contact>

</div>
