<div>
  <div class="bantal-carousel relative bg-white">
    <div class="bantal-carousel-inner relative overflow-hidden w-full">
      <input
        type="radio" id="bantal-carousel-1" name="bantal-carousel" aria-hidden="true"
        hidden="" checked="checked" class="bantal-carousel-open hidden">
      <div class="bantal-carousel-item absolute opacity-0">
        <img
          alt="Image for show off Pillow"
          src="assets/bantal/Img1.jpg"
          width="640"
          height="427"
          loading="lazy"
          class="flex items-end justify-end h-56 w-full bg-cover">
      </div>
      <label for="bantal-carousel-4"
             class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label
        for="bantal-carousel-2"
        class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label><input
      type="radio" id="bantal-carousel-2" name="bantal-carousel" aria-hidden="true"
      hidden="" class="bantal-carousel-open hidden">
      <div class="bantal-carousel-item absolute opacity-0">
        <img alt="Image for show off Pillow" src="assets/bantal/Img2.jpg" width="640" height="480" loading="lazy"
             class="flex items-end justify-end h-56 w-full bg-cover">
      </div>
      <label for="bantal-carousel-1"
             class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label
        for="bantal-carousel-3"
        class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
      <input type="radio" id="bantal-carousel-3" name="bantal-carousel" aria-hidden="true" hidden=""
             class="bantal-carousel-open hidden">
      <div class="bantal-carousel-item absolute opacity-0">
        <img alt="Image for show off Pillow" src="assets/bantal/Img3.jpg" width="640" height="427" loading="lazy"
             class="flex items-end justify-end h-56 w-full bg-cover">
      </div>
      <label for="bantal-carousel-2"
             class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label
        for="bantal-carousel-4"
        class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
      <input
        type="radio" id="bantal-carousel-4" name="bantal-carousel" aria-hidden="true" hidden=""
        class="bantal-carousel-open hidden">
      <div class="bantal-carousel-item absolute opacity-0">
        <img
          alt="Image for show off Pillow"
          src="assets/bantal/Img4.jpg"
          width="640"
          height="427"
          loading="lazy"
          class="flex items-end justify-end h-56 w-full bg-cover">
      </div>
      <label for="bantal-carousel-3"
             class="prev control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label
        for="bantal-carousel-1"
        class="next control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
      <ol class="bantal-carousel-indicators">
        <li class="inline-block mr-3">
          <label
            for="bantal-carousel-1"
            class="bantal-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label
            for="bantal-carousel-2"
            class="bantal-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label
            for="bantal-carousel-3"
            class="bantal-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label
            for="bantal-carousel-4"
            class="bantal-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
      </ol>
    </div>
  </div>
</div>
